.navigation {
    background: #2e5785;
    border-radius: 0;
}

.navigation .navbar-right {
    margin-right: 0px;
}

.navigation ul.navbar-nav li {
    line-height: 60px;
    margin-right: 20px;
    font-size: 16px;
}

.navigation ul.navbar-nav li:last-child {
    margin-right: 0;
}

.navigation ul.navbar-nav li a {
    color: #fff;
    padding: 10px;
    display: inline-block;
    background-color: transparent;
}

.navigation ul.navbar-nav li a:hover, .navigation ul.navbar-nav li a:active {
    color: #fff;
    text-decoration: underline;
    background: none;
}

p.message {
    padding: 15px 0;
}

ul.list-info > li {
    width: 175px;
    margin: 5px 0;
}

ul.list-info > li > span {
    font-weight: bold;
}

h3.form-section, h4.form-section {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;

}