{% extends 'data_index.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="{% url 'stock_index' %}" class="list-group-item active">个股</a>
                <a href="#" class="list-group-item">指数</a>
                <a href="#" class="list-group-item">行业板块</a>
            </div>
        </div>
        <div class="col-md-10">
            {% block main %}
                {% if not basics %}
                    <p class="message">
                        找不到个股数据，请点击<a href="{% url 'fetch_index' %}">这里</a>获取。
                    </p>
                {% else %}
                    <p class="message">
                        数据旧了？请点击<a href="{% url 'fetch_index' %}">这里</a>更新。
                    </p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>代码</th>
                            <th>名称</th>
                            <th>最新价</th>
                            <th>涨跌额</th>
                            <th>涨跌幅</th>
                            <th>今开</th>
                            <th>最高</th>
                            <th>最低</th>
                            <th>市盈率</th>
                            <th>流动资产</th>
                            <th>总资产(万)</th>
                            <th>行业</th>
                            <th>同步时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for basic in basics %}
                            <tr>
                                <td><a href="{% url 'stock_detail' basic.code %}">{{ basic.code }}</a></td>
                                <td><a href="{% url 'stock_detail' basic.code %}">{{ basic.name }}</a></td>
                                <td class="{% if basic.is_raise %}raise{% else %}fall{% endif %}">{{ basic.close | default:'--' }}</td>
                                <td class="{% if basic.is_raise %}raise{% else %}fall{% endif %}">{{ basic.price_change|default:'--' }}</td>
                                <td class="{% if basic.is_raise %}raise{% else %}fall{% endif %}">{{ basic.p_change |default:'--' }}%</td>
                                <td>{{ basic.open |default:'--' }}</td>
                                <td>{{ basic.high|default:'--' }}</td>
                                <td>{{ basic.low |default:'--' }}</td>
                                <td>{{ basic.pe }}</td>
                                <td>{{ basic.liquid_assets }}</td>
                                <td>{{ basic.total_assets }}</td>
                                <td>{{ basic.industry }}</td>
                                <td>{{ basic.sync_time | date:'m-d H:i' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p>
                        {% if basics.has_previous %}
                            <a href="?page={{ basics.previous_page_number }}">上页</a>
                        {% endif %}
                        Page {{ basics.number }} of {{ basics.paginator.num_pages }}.
                        {% if basics.has_next %}
                            <a href="?page={{ basics.next_page_number }}">下页</a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
