{% extends 'data_index.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="{% url 'stock_index' %}" class="list-group-item active">个股</a>
                <a href="#" class="list-group-item">指数</a>
                <a href="#" class="list-group-item">行业板块</a>
            </div>
        </div>
        <div class="col-md-10">
            {% block main %}
                {% if not datas %}
                    <p class="message">
                        找不到个股数据，请点击<a href="{% url 'fetch_index' %}">这里</a>获取。
                    </p>
                {% else %}
                    <p class="message">
                        数据旧了？请点击<a href="{% url 'fetch_index' %}">这里</a>更新。
                    </p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>代码</th>
                            <th>名称</th>
                            <th>最新价</th>
                            <th>涨跌额</th>
                            <th>涨跌幅</th>
                            <th>今开</th>
                            <th>最高</th>
                            <th>最低</th>
                            <th>市盈率</th>
                            <th>流动资产</th>
                            <th>总资产(万)</th>
                            <th>行业</th>
                            <th>同步时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in datas %}
                            <tr>
                                <td><a href="{% url 'stock_detail' data.ggid %}">{{ data.dm }}</a></td>
                                <td><a href="{% url 'stock_detail' data.ggid %}">{{ data.mc }}</a></td>
                                <td class="{% if data.is_raise %}raise{% else %}fall{% endif %}">{{ data.spj | default:'--' }}</td>
                                <td class="{% if data.is_raise %}raise{% else %}fall{% endif %}">{{ data.zde | default:'--' }}</td>
                                <td class="{% if data.is_raise %}raise{% else %}fall{% endif %}">{{ data.zdf | default:'--' }}%</td>
                                <td>{{ data.kpj | default:'--' }}</td>
                                <td>{{ data.zgj | default:'--' }}</td>
                                <td>{{ data.zdj | default:'--' }}</td>
                                <td>{{ data.syl }}</td>
                                <td>{{ data.ldzc }}</td>
                                <td>{{ data.zzc }}</td>
                                <td>{{ data.sshy }}</td>
                                <td>{{ data.tbsj | date:'m-d H:i' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p>
                        {% if datas.has_previous %}
                            <a href="?page={{ datas.previous_page_number }}">上页</a>
                        {% endif %}
                        Page {{ datas.number }} of {{ datas.paginator.num_pages }}.
                        {% if datas.has_next %}
                            <a href="?page={{ datas.next_page_number }}">下页</a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
