<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - IWYM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<div class="navbar navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 logo"><a href="#"></a></div>
            <div class="col-xs-9 text-right">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'stock_index' %}">数据</a></li>
                        <li><a href="{% url 'labs_index' %}">研究</a></li>
                        <li><a href="#" class="dev">交易</a></li>
                        <li><a href="{% url 'fetch_index' %}">系统</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'plugins/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/My97DatePicker/WdatePicker.js' %}"></script>
<script src="{% static 'plugins/is/is.min.js' %}"></script>
<script>
    $(function () {
        $('.dev').on('click', function (e) {
            e.preventDefault();
            alert('你点到坑里了，还在填坑中……')
        });
    })
</script>
{% block script %}

{% endblock %}
</body>
</html>